[submodule "Docker_API/poolmanager-api"]
	path = Docker_API/poolmanager-api
	url = https://github.com/JaydeepHasmukhlalQA/poolmanager-api.git
[submodule "Docker_UI/poolmanage-ui"]
	path = Docker_UI/poolmanage-ui
	url = https://github.com/JaydeepHasmukhlalQA/poolmanage-ui.git
